
/* GERAL ******************************************/
.body {
    font-family: "Lora","Georgia", Times, "Times New Roman", serif;
    background-color: white;
}

/* TAREK ******************************************/



/* KALED ******************************************/



/* ANA ******************************************/

#Ana {
    border: 1px solid #6699ff;
    height: 600px;
    text-align: center;
    background-color: white;
}



/* TADEU + AKIRA ******************************************/


#Tadeu{
    background-color: white;
}

#mapa_tadeu{
    height: 400px;
    display: block;
    position: relative;
    opacity: 1;
    
}

#mapa_tadeu img{

    padding-top: 15px;
    padding-left: 15px;    
}

#mapa_tadeu h3{

    text-align: center;
}



/* INTRO ******************************************/


#intro{

    height: 800px;
    background-color: #6699ff;
    display: block;
    position: relative;
    opacity: 0.9;  
    
}

#intro::after{
    width: 100%;
    content: "";
    background-image: url("http://forio.com/contour/img/gallery-icons/line-filled.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}


#intro h1{

    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 10%;
    margin-bottom: 0;
    margin-top: 0px;
    text-align: center;
    text-decoration: bold;
    background-color: none;
}

#intro h4 {

    font-weight: bold;
    color: white;
    padding: 0px 40px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
}

#intro img{
    z-index: -99;
}


/**************************** TADEU ANTIGO ******************************************/

.main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
  }

/* #mapa {
    background-color: rgb(0, 8, 36);
} */

.content {
    padding: 0;
}

.menu-condicional {
    background-color: rgb(39, 39, 39);
    border-left: solid 3px rgb(36, 68, 110);
    border-bottom: solid 1px rgb(26, 26, 26);
}

.menu-condicional div.shiny-input-container {
    padding: 0 8px;
}

#goMap {
    margin:6px auto;
}

.radio {
    display: inline;
    padding-left: 10px;
}

#turno .shiny-options-group {
    text-align: center;
    display: inline;
}

.sidebar {
    height: 90vh;
    overflow-y: auto;
}